.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon > svg {
  stroke: var(--ico-stroke-clr);
  /* stroke-width: 0.2; */
  /* fill: rgb(42, 23, 255); 
	fill-opacity: 1; 
	stroke: rgb(255, 97, 123); 
	stroke-opacity: 0.7; 
	stroke-width: 8; */
}

/* Body */
.icon > svg > g > g > path {
  stroke-width: 10;
  fill: var(--car-body-clr);
}

/* Hat */
.icon > svg > path:nth-of-type(1) {
  stroke-width: 15;
  fill: var(--car-hat-clr);
}

/* Lights */
.icon > svg > path:nth-of-type(2) {
  stroke-width: 2;
  fill: var(--car-light-clr);
}

/* Window */
.icon > svg > path:nth-of-type(3) {
  stroke-width: 5;
  fill: var(--car-window-clr);
}

/* .car-svg > svg {
	animation-name: grow;
	animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes grow {
  from {
    width: 0px;
    height: 0px;
  }

  to {
    width: 40px;
    height: 40px;
  }
} */